@import "@economist/component-link-button/index.css";
@import "@economist/component-bar-wrapper/index.css";
@import "@economist/component-palette/index.css";

.admin-bar .bar-wrapper--container {
    display: flex;
    padding: 0;
}

.admin-bar {
  background-color: var(--admin-bar-background, var(--color-honolulu));
  padding-top: var(--admin-bar-vertical-padding, .5em);
  padding-bottom: var(--admin-bar-vertical-padding, .5em);
}

.admin-bar .link-button {
  background-color: var(--admin-bar__button-background, var(--color-chicago));
}

.admin-bar__title {
  color: var(--admin-bar__title-color, var(--color-thimphu));
  flex: 1 1 auto;
  align-self: center;
  font-weight: bold;
}
