@import '@economist/component-link-button';
@import '@economist/component-bar-wrapper';

.admin-bar .bar-wrapper--container {
  display: flex;
  padding: 0;
}

.admin-bar {
  padding-top: var(--admin-bar-vertical-padding, 0.5em);
  padding-bottom: var(--admin-bar-vertical-padding, 0.5em);
  background-color: var(--admin-bar-background, #16c9b3);
}

.admin-bar__edit-link {
  padding:
    var(--admin-bar__edit-link-vertical-padding, 0.71rem)
    var(--admin-bar__edit-link-vertical-padding, 2rem);
  color: var(--admin-bar__edit-link-color, #fff);
  background-color: var(--admin-bar__button-background, #3e51b5);
}

.admin-bar__title {
  align-self: center;
  flex: 1 1 auto;
  color: var(--admin-bar__title-color, #fff);
  font-weight: bold;
}
